<!-- В контенте на странице мы выводим новость с конкретным id -->
{% extends 'flatpages/default.html' %}

{% block title %}
    {{ page_title }}
{% endblock title %}

<!--  подгружает собственные фильтры для шаблонов -->
{% load custom_filters %}

<!--  карточка новости -->
{% block content %}

{% include 'snippet_user_info.html' %}

<div class="card">
    {% include 'snippet_publication_info.html' %}
    <h5 class="card-title">{{ post.title|censor }}</h5>
    {% comment %} <span class='small'>Автор: {{ post.author.user.username }}. Опубликована: {{ post.publication_date|date:'d.M.Y' }}</span>   {% endcomment %}
    <div class="card-body">
        <p class="card-text">
            {{ post.content|censor }}
        </p>     
        <hr>                   
    </div>
    
        {% if page_title == 'Article' %}
            <a href="{% url 'article_list' %}" class="card-link">
                К статьям
            </a>
            {% if request.user.is_authenticated and not is_not_author %}    
                <a href="{% url 'article_update'  post.id %}" class="card-link">
                    Редактировать
                </a>
            {% comment %} {% endif %}
            {% if request.user.is_staff %}  {% endcomment %}
                <a href="{% url 'article_delete'  post.id %}" class="card-link">
                    Удалить (админ)
                </a>
            {% endif %} 
        {% endif %}

        {% if page_title == 'News' %}
            <a href="{% url 'news_list' %}" class="card-link">
                К новостям
            </a>
            {% if request.user.is_authenticated and not is_not_author %}
                <a href="{% url 'news_update'  post.id %}" class="card-link">
                    Редактировать
                </a>
            {% comment %} {% endif %}
            {% if request.user.is_staff %}  {% endcomment %}
                <a href="{% url 'news_delete'  post.id %}" class="card-link">
                    Удалить (админ)
                </a>
            {% endif %}     
        {% endif %}
            
</div>
  

{% endblock content %}