<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %} 

<!--  подгружает собственные фильтры для шаблонов -->
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    {{ page_title }}    
{% endblock title %}
 
<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>
    {{ page_caption }}
</h1>

 {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
<form action="" method="get">
    {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
    {{ filterset.form.as_p }}
    {# Добавим кнопку отправки данных формы #}
    <input type="submit" value="Искать" />
</form>

{% for post in page_obj %}
<div class="card">
    <div class="card-body">
        <div class="card-text">
        {% if post.type == "N" %}
        <span>Новость: </span>
        {% endif %}
        <h6>
            {{ post.title|censor }}
        </h6>
        <span>
            posted by {{ post.author.user.username }}
        </span>            
    </div>
        <p> 
            {{ post.publication_date|date:'d.M.Y' }}
        </p>       
        <p>
            {% with post_preview=post.preview|censor %}
                {{ post_preview|truncatechars:20 }} 
                {% if page_title == 'News' %}
                    <a href="{% url 'news_detail' post.id %}" class="card-link">
                        more
                    </a>
                {% endif %}
                {% if page_title == 'Articles' %}
                    <a href="{% url 'article_detail' post.id %}" class="card-link">
                        more
                    </a>
                {% endif %}
            {% endwith %}
        </p>
    </div>        
</div>            
{% endfor %}

<!-- вывод информации о страницах -->
<div class="pagination">
    <span class="step-links">

        {% if page_obj.paginator.num_pages != 1 %}
            <!-- вывод информации о предыдуших страницах -->
            {% if page_obj.has_previous %}
                <a href='?{% url_replace page=1 %}' class="card-link">1</a>
                {% if page_obj.previous_page_number != 1 %}
                    ...
                    <a href='?{% url_replace page=page_obj.previous_page_number %}' class="card-link">
                        {{page_obj.previous_page_number}}
                    </a>
                {% endif %}
            {% endif %}

            <!-- вывод информации о текущей странице -->
            <span class="current">
                {{ page_obj.number }}
            </span>

            <!-- вывод информации о следующих страницах -->
            {% if page_obj.has_next %}
                <a href='?{% url_replace page=page_obj.next_page_number %}' class="card-link">
                    {{page_obj.next_page_number}}
                </a>
                {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                    ...
                    <a href='?{% url_replace page=page_obj.paginator.num_pages %}' class="card-link">
                        {{page_obj.paginator.num_pages}}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock content %}
