<!-- В контенте на странице мы выводим новость с конкретным id -->
{% extends 'flatpages/default.html' %}

{% block title %}
    {{ page_title }}
{% endblock title %}

<!--  подгружает собственные фильтры для шаблонов -->
{% load custom_filters %}

<!--  карточка новости -->
{% block content %}

<h1>{{ post.title|censor }}</h1>
<div class="card">
    <div class="card-body">
            {{ post.content|censor }}     
        <hr>
            {{ post.publication_date|date:'d.M.Y' }}
    </div>        
</div>  

{% endblock content %}