<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %} 

<!--  подгружает собственные фильтры для шаблонов -->
{% load custom_filters %}
{% comment %} {% load custom_tags %} {% endcomment %}

{% block title %}
    {{ page_title }}    
{% endblock title %}
 
<!-- В контенте на странице мы выводим все новости -->
{% block content %}

{% include 'snippet_user_info.html' %}

<h1>
    {{ page_caption }}
</h1>

 {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
<form action="" method="get">
    {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
    {{ filterset.form.as_p }}
    {# Добавим кнопку отправки данных формы #}
    <input type="submit" value="Искать" />
</form>

{% for post in page_obj %}
<div class="card">
    <div class="card-body">

        {% include 'snippet_publication_info.html' %}

        <h5 class="card-title">
            {{ post.title|censor }}
        </h5>                 
               
        <p class="card-text">
            {% with post_preview=post.preview|censor %}
                {{ post_preview|truncatechars:20 }} 
                {% if page_title == 'News' %}
                    <a href="{% url 'news_detail' post.id %}" class="card-link">
                        more
                    </a>
                {% endif %}
                {% if page_title == 'Articles' %}
                    <a href="{% url 'article_detail' post.id %}" class="card-link">
                        more
                    </a>
                {% endif %}
            {% endwith %}
        </p>
    </div>        
</div>            
{% endfor %}

{% include 'snippet_pagination.html' %}

{% endblock content %}
