<div class="small text-end mb-2">

    {% if not request.user.is_authenticated %}
        <span class='fw-semibold'>Неавторизованный</span> (статус: читатель) <br> 
        <a class='btn btn-sm btn-outline-primary' href="{% url 'account_login' %}">Войти</a>
    {% elif is_not_author %} 
        <span class='fw-semibold'>{{ request.user.username }}</span> (статус: читатель)<br>
            <a class='btn btn-sm btn-outline-primary' href={% url 'upgrade' %}> Стать автором!</a>
            <a class='btn btn-sm btn-outline-primary' href="{% url 'account_logout' %}">Выйти</a>
    {% else %}
        <span class='fw-semibold'>{{ request.user.username }}</span> (статус: автор)<br>
            <a class='btn btn-sm btn-outline-primary' href="{% url 'account_logout' %}">Выйти</a>
    {% endif %}

</div>